<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Unbiased Airport Taxi Service!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css">


    </head>
    <body>


        {% block body %}{% endblock %}

        <script src="{{ asset('build/app.js') }}"></script>
    </body>
</html>
